{% extends 'base.html' %}

{% block title %} Usuń {{ product }} {% endblock %}

{% block content %}
<form action="{% url 'name_app:delete-product' product.id %}" method="post">{% csrf_token %}
    <div class="text-center "><p class="display-6 fw-bolder">Jesteś pewny ze chcesz usunać "{{ product }}"</p></div>

     <div class="text-center">
    <button type="submit" class="btn btn-danger">Tak</button>
   <a class="btn btn-outline-success mt-auto" href="{% url 'name_app:product' product.id %}">Nie</a>
     </div>
</form>
<p></p>

{% endblock %}